/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 13, 2023, 1:38:28 AM
    Author     : calvi
*/

.Mandatory::after{
    content: "*";
    color: red;
}

label{
    color: #1e780e;
}

.text-center{
    color: #1e780e;
}

*{
    background-color: #f5f5dc;
}




